html{
	background-color:#00EDD3;
}
h1{
	font-family:'Orbitron', sans-serif;
	font-size:70px;
	text-align:center;
}
nav{
	background-color:#FFF700;
	border:double black 10px;
	float:left; 
	width:190px;
	font-family:'Architects Daughter', cursive;
}
h2{
	font-size:30px;
	text-align:center;
	font-family: 'Architects Daughter', cursive;
}
main{
	background-color:#B856EE;
	border:double black 10px;
	text-align:left;
	margin-left:215px;
	font-family:'Indie Flower', cursive;
}
img.left{
	float:right;
	height:300px;
	width: 350px;
}
h3{
	clear:right;
	font-size:35px;
	text-align:center;
}
main > ul{ 
	border-style: solid;
	padding: 20px;
	margin:20px;
	overflow:auto;
	background-color:#FF9C53;
}
h4{
	clear:right;
	margin-left:auto;
	font-size:25px;
}
p{
	font-size:20px;
}
footer{
	text-align:center;
}
article{
	border-style: solid;
	padding: 20px;
	margin:20px;
	overflow:auto;
	background-color:#FF9C53;

}
